@using GestioneSagre.Web.App.Shared;

@inherits AppBase

<Router AppAssembly="@typeof(Program).Assembly" AdditionalAssemblies="@LazyLoadedAssemblies" OnNavigateAsync="@OnNavigateAsync">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <MudPaper Class="pa-md-3 mx-lg-auto" Elevation="3">
                <MudText Class="mt-6" Align="Align.Center">
                    <img src="images/404NotFound.png" alt="page not found" />
                </MudText>
                <MudText Typo="Typo.h6" Align="Align.Center" GutterBottom="true">La pagina richiesta non esiste.</MudText>
                <MudText Typo="Typo.subtitle2" Align="Align.Center" GutterBottom="true">
                    <p><br /><br /></p>
                    <p>
                        Gli assembly caricati sono: <br />
                        @foreach (var assembly in LazyLoadedAssemblies)
                        {
                            <h5>@assembly.FullName</h5>
                        }
                    </p>
                </MudText>
            </MudPaper>
        </LayoutView>
    </NotFound>
</Router>