<MudNavMenu Class="mud-width-full mt-5">
    <div class="d-flex justify-center">
        <MudImage Src="images/logo_menu.png" ObjectFit="ObjectFit.ScaleDown" ObjectPosition="ObjectPosition.Center" Width="100" Alt="gestione sagre web" Class="rounded-lg mt-2 mb-5" />
    </div>

    <MudNavLink Href="/" Icon="@Icons.Material.Filled.Dashboard">Dashboard</MudNavLink>
    <MudDivider />

    <MudNavLink Href="/configurazioneiniziale" Icon="@Icons.Material.Filled.DisplaySettings">Configurazione Iniziale</MudNavLink>
    <MudDivider />

    <MudNavGroup Title="Magazzino" Icon="@Icons.Material.Filled.Warehouse" @bind-Expanded="isWarehouseExpanded" Disabled="@isWarehouseDisabled">
        <MudNavLink Href="#" Icon="@Icons.Material.Filled.Category">Categorie</MudNavLink>
        <MudNavLink Href="#" Icon="@Icons.Material.Filled.ProductionQuantityLimits">Prodotti</MudNavLink>
        <MudNavLink Href="#" Icon="@Icons.Material.Filled.RestaurantMenu">Menu</MudNavLink>
    </MudNavGroup>
    <MudDivider />

    <MudNavLink Href="#" Icon="@Icons.Material.Filled.Dining" Disabled="@isScontrinoDisabled">Nuovo Scontrino</MudNavLink>
    <MudDivider />

    <MudNavGroup Title="Modifica Scontrini" Icon="@Icons.Material.Filled.Receipt" @bind-Expanded="isReceiptsExpanded" Disabled="@isReceiptsDisabled">
    <MudNavLink Href="#" Icon="@Icons.Material.Filled.Print">Ristampa scontrino</MudNavLink>
    <MudNavLink Href="#" Icon="@Icons.Material.Filled.SignalWifiStatusbarNull">Cambia stato</MudNavLink>
    <MudNavLink Href="#" Icon="@Icons.Material.Filled.ReceiptLong">Cambia tipologia</MudNavLink>
    <MudNavLink Href="#" Icon="@Icons.Material.Filled.Payment">Cambia pagamento</MudNavLink>
    </MudNavGroup>
    <MudDivider />

    <MudNavGroup Title="Cassa" Icon="@Icons.Material.Filled.Store" @bind-Expanded="isStoreExpanded" Disabled="@isStoreDisabled">
        <MudNavLink Href="#" Icon="@Icons.Material.Filled.CalendarMonth">Prenotazioni</MudNavLink>
        <MudNavLink Href="#" Icon="@Icons.Material.Filled.WorkHistory">Movimenti Cassa</MudNavLink>
    </MudNavGroup>
    <MudDivider />

    <MudNavGroup Title="Stampe" Icon="@Icons.Material.Filled.Print" @bind-Expanded="isPrintsExpanded" Disabled="@isPrintsDisabled">
        <MudNavLink Href="#" Icon="@Icons.Material.Filled.WorkHistory">Contabilità cassa</MudNavLink>
        <MudNavLink Href="#" Icon="@Icons.Material.Filled.CalendarMonth">Stampa prenotazioni</MudNavLink>
        <MudNavLink Href="#" Icon="@Icons.Material.Filled.Print">Stampa menu</MudNavLink>
    </MudNavGroup>
    <MudDivider />

    <MudNavGroup Title="Statistiche" Icon="@Icons.Material.Filled.QueryStats" @bind-Expanded="isStatsExpanded" Disabled="@isStatsDisabled">
        <MudNavLink Href="#" Icon="@Icons.Material.Filled.Today">Consumi giornata</MudNavLink>
        <MudNavLink Href="#" Icon="@Icons.Material.Filled.Today">Consumi totali</MudNavLink>
        <MudNavLink Href="#" Icon="@Icons.Material.Filled.Summarize">Riepilogo cassa</MudNavLink>
        <MudNavLink Href="#" Icon="@Icons.Material.Filled.Summarize">Riepilogo incassi</MudNavLink>
    </MudNavGroup>
    <MudDivider />

    <MudNavLink Href="#" Icon="@Icons.Material.Filled.Login" Disabled="@isLoginDisabled">Login</MudNavLink>
    <MudDivider />

    <MudNavLink Href="#" Icon="@Icons.Material.Filled.Logout" Disabled="@isLogoutDisabled">Logout</MudNavLink>
    <MudDivider />

    <MudNavLink Href="#" Icon="@Icons.Material.Filled.LockPerson" Disabled="@isAdminDisabled">Amministrazione</MudNavLink>
    <MudDivider />
</MudNavMenu>